@model List<Asignatura>

@{
    ViewData["Title"] = "Asignatura!";
    Layout = "_BaseTemplate";
    var numberValue = 1; 
}

<div class="text-center">
    <h1 class="display-4">Listado de Cursos @numberValue</h1>
</div>

@foreach (var course in Model)
{
    <partial name="_SimpleCourse" model="course"></partial>
}




